body { 
    margin:0; 
    font-family: Arial;
}

.t_b{
    background: rgb(4, 47, 97);
    color: white;
    height: 80px;
    margin :0px; 
}

.titleHeading{
    position: absolute;
    top : 13px;
    margin-left: 20px;
}

.titleDesc{
    position: absolute;
    left : 200px;
    top : 17px;
    font-family: initial;
}

.img{
    width : 200px;
    height : 200px;
}

.postBody{
    position : relative;
    left : 250px;
    top : -220px;
}
.post{
    height : 240px;
    width : 70%;
    margin-left: 15px;
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
    
}

.footer{
    background: rgb(4, 47, 97);
    color: white;
    height: 50px;
    text-align: center;
}

.sidePanel{
    width : 25%;
    top : 80px;
    right : 0px;
    margin : 10px;
    margin-right: 30px;
}

.lstBox{
    width : 100%;
}
.form{
    width : 71%;
    height : 25px;
}
.btnSubscribe{
    position: relative;
    color: white;
    background: black;
    height : 30px;
    left:-5px;
    border:0;
}

.postButton{
    background: rgb(255, 51, 0);
    height: 30px;
    width : 180px;
    color : white;
    border:0;
}

.rightFloat{
    float: right;
}

.leftFloat{
    float: left;
}

.flxMain{
display: flex;
flex-direction: row;
}

.flxVertical{
    display: flex;
    flex-direction: column;
}

.wrapper{
    width : 90%;
}

.footerContent{
    position: relative;
    top:17px;
}